In [7]:
import sys

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

sys.path.append('..')
sys.path.append('../..')

from config.settings import DATA_PATH
from utils.processing.processing import SumoDataAttribute
from utils.processing.processing import SumoDataProcessor

In [2]:
df = pd.read_csv(DATA_PATH)

In [3]:
df['vehicle_type'].unique()

array(['vehicle', 'obstacle'], dtype=object)

In [23]:
df['cell']  = (df['vehicle_x']//20).astype(int)

In [25]:
df.columns

Index(['timestep_time', 'vehicle_acceleration', 'vehicle_angle', 'vehicle_id',
       'vehicle_lane', 'vehicle_pos', 'vehicle_slope', 'vehicle_speed',
       'vehicle_type', 'vehicle_x', 'vehicle_y', 'cell'],
      dtype='object')

In [26]:
df = df[["timestep_time",
"vehicle_acceleration",
"vehicle_lane",
"cell"]]

In [31]:
df = df.groupby(['timestep_time', 'vehicle_lane', 'cell']).sum().reset_index()

In [46]:
def rename_lane(cell):
    return int(cell[-1])

In [47]:
df['vehicle_lane'] = df['vehicle_lane'].apply(rename_lane)

In [53]:
df[(df['vehicle_lane'] == 1) & (df['cell'] == 20)]

        timestep_time  vehicle_lane  cell  vehicle_acceleration
538              32.0             1    20                 -0.18
571              33.0             1    20                  0.37
874              41.0             1    20                 -0.28
917              42.0             1    20                 -0.31
959              43.0             1    20                 -0.40
...               ...           ...   ...                   ...
267818          993.0             1    20                  0.48
268137          994.0             1    20                 -0.96
268455          995.0             1    20                 -0.29
268775          996.0             1    20                  0.07
269093          997.0             1    20                  0.67

[537 rows x 4 columns]